section.section-live-prices {
  //position: relative;
  input {
    border-radius: 5px;
    border: none;
    display:inline-block;
    font-size: 1.5em;
    margin: 1em 0;
    outline: none;
    padding: 0.5em 1em;
    @include box-shadow(0,1px,1px,$app-main-text-action-color);
  }
  table {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 2em;
    thead {
      font-weight: bold;
      td:first-child {
	    cursor:pointer;
      }
      td:nth-child(5) {
        cursor: pointer;
      }
    }
    td {
      border: 1px solid black;
      text-align: center;
    }
    tbody td {
      font-family: 'Helvetica', sans-serif;
      padding-left: 0.2em;
      padding-right: 0.2em;
      &:nth-child(6) svg, &:nth-child(7) svg {
        cursor: pointer;
      }
    }
  }
  &>div {
    background-color: $main-section-color;
    border-radius: 5px;
    height: 60vh;
    left: 10vw;
    padding: 1em;
    position: absolute;
    top: 20vh;
    width: 80vw;
    button {
      border: none;
      cursor: pointer;
      outline: none;
      position: absolute;
      right: 10%;
      top: 3%;
      z-index: 1;
    }
  }
}
