@import "SassModules/_mediaQueries";
@import "SassModules/_reset.scss";
@import "SassModules/_mixins.scss";
@import "SassModules/_fonts.scss";
@import "SassModules/_colors.scss";
@import "./Template/ProjectNav/projectNav";
@import "./Template/LeftPanel/leftPanel";
@import "./Template/template";
@import "./LivePrices/_livePrices.scss";
@import "LivePrices/Instrument/instrument";
@import "Contact/contact";
@import "Roadmap/roadmap";
@import "Home/home";
@import "About/about";

body {
  @extend %app-background-gradient;
  //@keyframes backgroundFade {
  //  0%   {opacity: 0;}
  //  10%  {opacity: 1;}
  //  90% {opacity: 1;}
  //  100% {opacity: 0;}
  //}
  //animation: backgroundFade 1s infinite;
  font-family: 'economica', "Helvetica", "Arial", sans-serif;
  height: 100%;
  max-width: 1800px;
  min-height: 100vh;
  min-width: 320px;
  padding-top: 1vh;
  width: 100%;
  @media #{$tablet-up} {
    padding-top: 4vh;
  }
  div#root {
    height: 100%;
  }
  .container {
    height: 100%;
    margin: 0 auto;
    padding: 0 2vw;
    @media #{$tablet-up} {
      padding: 0 4vw;
    }
  }
}
