@import "SassModules/_mediaQueries";
@import "SassModules/_reset.scss";
@import "SassModules/_mixins.scss";
@import "SassModules/_fonts.scss";
@import "SassModules/_colors.scss";
@import "./Template/ProjectNav/projectNav";
@import "./Template/LeftPanel/leftPanel";
@import "./Template/template";
@import "./LivePrices/_livePrices.scss";
@import "LivePrices/Instrument/instrument";
@import "Contact/contact";
@import "Roadmap/roadmap";
@import "Home/home";
@import "About/about";

body {
  //background: cross-fade(50% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;
  //background: url(../../images/bg1.jpg) center fixed / cover;
  //animation: bg-fade 60s linear infinite;
  &::after {
    background: rgb(210,209,255);
    background: linear-gradient(170deg, rgba(210,209,255,0.8029586834733894) 0%, rgba(255,255,255,0.7973564425770308) 70%, rgba(171,29,13,0.3519782913165266) 100%);
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
  //animation: fader 30s linear infinite;
  //@extend %app-background-gradient;
  font-family: 'economica', "Helvetica", "Arial", sans-serif;
  height: 100%;
  max-width: 1800px;
  min-height: 100vh;
  min-width: 320px;
  padding-top: 1vh;
  width: 100%;
  @media #{$tablet-up} {
    padding-top: 4vh;
  }
  div#root {
    height: 100%;
  }
  .container {
    height: 100%;
    margin: 0 auto;
    padding: 0 2vw;
    @media #{$tablet-up} {
      padding: 0 4vw;
    }
  }
}
