$tablet: "screen and (min-width: 730px) and (max-width: 1024px)";
$desktop: "screen and (min-width: 1025px)";
$tablet-up: "screen and (min-width: 730px)";
$tablet-down: "screen and (max-width: 1024px)";
$small-height: "screen and (max-height: 780px)";