$tablet: "screen and (min-width: 768px) and (max-width: 1199px)";
$desktop: "screen and (min-width: 1200px)";
$tablet-up: "screen and (min-width: 768px)";
$tablet-down: "screen and (max-width: 1199px)";
$landscape-on-mobile: "screen and (orientation:landscape) and (max-width: 767px)";