@mixin box-shadow($offset, $blur, $spread, $color) {
  box-shadow: $offset $offset $blur $spread $color;
}
@keyframes bumpScale1 {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bumpScale2 {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
//@mixin background($image,$cover) {
//  background: rgb(210,209,255);
//  background: linear-gradient(170deg, rgba(210,209,255,0.8029586834733894) 0%, rgba(255,255,255,0.7973564425770308) 70%, rgba(171,29,13,0.3519782913165266) 100%) fixed, url(../../images/#{$image}) center fixed #{$cover};
//}
//@keyframes fader {
//  0% {@include background('bg1.jpg','/ cover');}
//  12.5% {@include background('bg2.jpg','');}
//  25% {@include background('bg3.jpg','/ cover');}
//  37.5% {@include background('bg4.jpg','/ cover');}
//  50% {@include background('bg5.jpg','/ cover');}
//  62.5% {@include background('bg6.jpg','/ cover');}
//  75% {@include background('bg7.jpg','/ cover');}
//  87.5% {@include background('bg8.jpg','/ cover');}
//  100% {@include background('bg1.jpg','/ cover');}
//}
$total-images: 8;
$range: 1 / $total-images / 12.5;
$steps: 20;
$fade-process-percentage: $range/$steps;
@function gen-keyframes($current,$step) {
  @return percentage(($current / $total-images) - ($fade-process-percentage * $step));
}
//@mixin bg-fade-process($image1,$image2,$range) {
//
//}
@keyframes bg-fade {
  @for $i from 1 through $total-images {
    $second-image: $i + 1;
    @if $i == $total-images {
      $second-image: 1;
    }
    #{gen-keyframes($i,0) - percentage(1 / $total-images)} {background: cross-fade(0% url(../../images/bg#{$i}.jpg), url(../../images/bg#{$second-image}.jpg)) center fixed / cover;}
    @for $j from $steps through 0 {
      #{gen-keyframes($i,$j)} {background: cross-fade(#{percentage($j * (1 / $steps))} url(../../images/bg#{$i}.jpg), url(../../images/bg#{$second-image}.jpg)) center fixed / cover;}
    }
  }
}
//@keyframes fade {
//  0% {background: cross-fade(0% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //10% {background: cross-fade(10% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //20% {background: cross-fade(20% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //30% {background: cross-fade(30% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //40% {background: cross-fade(40% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //50% {background: cross-fade(50% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //60% {background: cross-fade(60% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //70% {background: cross-fade(70% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //80% {background: cross-fade(80% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //90% {background: cross-fade(90% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
  //100% {background: cross-fade(100% url(../../images/bg1.jpg), url(../../images/bg4.jpg)) center fixed / cover;}
//}