@mixin box-shadow($offset, $blur, $spread, $color) {
  box-shadow: $offset $offset $blur $spread $color;
}
@keyframes bumpScale1 {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bumpScale2 {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@mixin background($image,$cover) {
  background: url(../../images/bg#{$image}.jpg) fixed center #{$cover};
}