header {
  background-color: $panel-background-color;
  border-radius: 5px;
  //height: calc(5vh + 5vw);
  margin: 0 2vw 2vh 2vw;
}
main {
  //height: 80vh;
  margin: 2vh 2vw 0 2vw;
  @media #{$tablet-up} {
    margin: 4vh 2vw 0 2vw;
  }
  &>div {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    position: relative;
    &>button {
      align-items: center;
      background-color: $button-main-color;
      border: none;
      border-radius: 5px;
      color: $app-main-text-action-color;
      display: flex;
      filter: none;
      font-size: 5.5vw;
      height: 1.2em;
      justify-content: center;
      left: 0.2em;
      outline: none;
      position: absolute;
      //top: 0;
      top: -2em;
      transition: 0.5s;
      width: 1.2em;
      z-index: 999;
      &.left-panel-visible {
        animation: bumpScale1 0.3s;
      }
      &.left-panel-out {
        animation: bumpScale2 0.3s;
      }
      @media #{$tablet-up} {
        display: none;
      }
    }
  }
  section:nth-of-type(2) {
    background-color: $main-section-color;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1vw;
    height: fit-content;
    min-height: 50%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2em;
    @include box-shadow(0,3px,1px,$main-section-color);
    h1 {
      font-size: 3em;
    }
    ul {
      padding-left: 2em;
      margin: 2em 0;
    }
  }
}
footer {
  align-items: center;
  //background-color: $panel-background-color;
  bottom: 0;
  color: $nav-text-color;
  display: flex;
  font-weight: bold;
  height: 5vh;
  justify-content: space-between;
  margin-top: 5vh;
  padding: 0 2vw;
  position: fixed;
  width: 100%;
  @include box-shadow(0,10px,5px,$section-shadow-color);
  a {
    color: $nav-text-color;
    display: inline-block;
    width: 10%;
    height: 1em;
    &:first-child {
      height: fit-content;
      width: fit-content;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  div {
    font-size: 1.5em;
  }
}
header li a,
main li a {
  text-decoration: none;
}