div.app-background-slideshow {
  $time-per-image: 20;
  $total-images: 3;
  $bg-fade-in-range: 20%;
  $fade-in-range-in-keyframes: $bg-fade-in-range * (1 / $total-images);
  $bg-fade-out-delay: 0%;
  $fade-out-delay-in-keyframes: percentage(1 / $total-images) + ($bg-fade-out-delay * (1 / $total-images));
  $bg-fade-out-range: 50%;
  $fade-out-range-in-keyframes: percentage(1 / $total-images) + ($bg-fade-out-range * (1 / $total-images));
  @keyframes bg-fade {
    0% { opacity: 0; animation-timing-function: ease-in; }
    #{$fade-in-range-in-keyframes} { opacity: 1; animation-timing-function: ease-out; transform: scale(1.03); }
    #{$fade-out-delay-in-keyframes} { opacity: 1; transform: scale(1.1); }
    #{$fade-out-range-in-keyframes} { opacity: 0; transform: scale(1.18); }
    100% { opacity: 0; }
  }
  div {
    animation: bg-fade #{$time-per-image * $total-images}s infinite;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -2;
  }
  @for $i from 1 through $total-images {
    &>div:nth-child(#{$i}) {
      @if $i == 2 {
        @include background('bg#{$i}.jpg', '');
      } @else {
        @include background('bg#{$i}.jpg', '/ cover');
      }
      animation-delay: #{$time-per-image * ($i - 1)}s;
    }
  }
}
header {
  background-color: $panel-background-color;
  border-radius: 5px;
  margin: 0 2vw 2vh 2vw;
}
main {
  margin: 2vh 2vw 0 2vw;
  @media #{$tablet-up} {
    margin: 4vh 2vw 0 2vw;
  }
  &>div {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    position: relative;
    &>button.hamburger {
      align-items: center;
      background-color: $button-main-color;
      border: none;
      border-radius: 5px;
      color: $app-main-text-action-color;
      display: flex;
      filter: none;
      font-size: 7vw;
      height: 1.2em;
      justify-content: center;
      left: 0.2em;
      outline: none;
      position: absolute;
      top: -2em;
      transition: 0.5s;
      width: 1.2em;
      z-index: 999;
      @media #{$tablet-up} {
        display: none;
      }
      @media #{$landscape-on-mobile} {
        font-size: 5.5vw;
      }
      &.left-panel-visible {
        animation: bumpScale1 0.3s;
      }
      &.left-panel-out {
        animation: bumpScale2 0.3s;
      }
    }
  }
  section:nth-of-type(2) {
    background-color: $main-section-color;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1vw;
    height: fit-content;
    min-height: 50%;
    margin-bottom: 6%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2em;
    @include box-shadow(0,3px,1px,$main-section-color);
    @media #{$landscape-on-mobile} {
      margin-bottom: 7%;
    }
    h1 {
      font-size: 6em;
      @media #{$landscape-on-mobile} {
        font-size: 5em;
      }
      @media #{$tablet-up} {
        font-size: 4em;
      }
    }
    h2 {
      font-size: 3.5em;
      @media #{$landscape-on-mobile} {
        font-size: 2.5em;
      }
    }
    p {
      font-size: 4em;
      @media #{$landscape-on-mobile} {
        font-size: 4em;
      }
    }
    &>ul {
      padding-left: 2em;
      margin: 2em 0;
      &>li {
        font-size: 5em;
        @media #{$landscape-on-mobile} {
          font-size: 4em;
        }
        @media #{$tablet-up} {
          font-size: 3em;
        }
      }
    }
  }
}
footer {
  align-items: center;
  //background-color: $panel-background-color;
  bottom: 0;
  color: $nav-text-color;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 2vw;
  position: fixed;
  width: 100%;
  @include box-shadow(0,10px,5px,$section-shadow-color);
  div {
    display: flex;
    width: 30%;
    a {
      color: $nav-text-color;
      margin: 0.2em 0;
    }
    &:first-of-type {
      justify-content: flex-start;
      a {
        svg {
          font-size: 1.5em;
        }
      }
    }
    &:nth-of-type(2) {
      font-size: 1.5em;
      justify-content: center;
    }
    &:last-of-type {
      justify-content: flex-end;
      a {
        display: flex;
        width: 6em;
        @media #{$landscape-on-mobile} {
          width: 6em;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
header li a,
main li a {
  text-decoration: none;
}