header nav {
  background-color: #444;
  display: flex;
  font-size: 1vw;
  height: 10vh;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
  &>a {
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    justify-content: center;
    text-decoration: none;
    span {
      color: darkred;
    }
  }
  &>ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    li {
      display: inline-block;
      a {
        font-size: 2em;
        text-decoration: none;
        color: white;
      }
    }
  }
}