header nav {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-size: 1vw;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  width: 100%;
  @include box-shadow(0,10px,5px,$section-shadow-color);
  @media #{$tablet-up} {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &>a {
    color: $nav-text-color;
    font-size: 8em;
    font-family: 'ethnocentric', 'economica', 'Helvetica', 'Arial', sans-serif;
    font-style: italic;
    margin: 0.2em 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 5px 5px LightGray;
    @media #{$tablet-up} {
      font-size: 4em;
    }
    @media #{$desktop} {
      font-size: 48px;
    }
    @media #{$landscape-on-mobile} {
      font-size: 6em;
    }
    span {
      color: $app-main-text-action-color;
    }
  }
  &>ul {
    align-items: center;
    display: flex;
    font-size: 1.8em;
    justify-content: space-between;
    list-style: none;
    margin: 0.6em;
    @media #{$tablet-up} {
      font-size: 1em;
      width: 40%;
    }
    li {
      display: inline-block;
      a {
        border-radius: 5px;
        color: $nav-text-color;
        display: inline-block;
        font-size: 3em;
        font-weight: bold;
        padding: 0.3em 0.8em;
        text-decoration: none;
        transition: 0.5s ease-in-out;
        @media #{$desktop} {
          font-size: 36px;
        }
        @media #{$landscape-on-mobile} {
          font-size: 2em;
          padding: 0 0.8em;
        }
        &:hover {
          background-color: $app-main-text-action-color;
          color: $nav-text-color;
          transform: skewX(-5deg);
          @include box-shadow(0,6px,2px,$app-main-text-action-color);
        }
        &.nav-active-function {
          color: $NavLink-active-main-color;
        }
      }
    }
  }
}