section.section-contact {
  li:first-of-type, li:nth-of-type(2) {
    svg {
      color: $standard-text-color;
    }
  }
  li:nth-of-type(3), li:last-of-type {
    svg {
      color: $app-main-text-action-color;
    }
  }
}